<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Flower Management Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/output.css}">
    <script th:src="@{/js/mainLayout.js}"></script>
</head>

<body class="bg-gray-100 text-black flex ">
    <!-- Sidebar -->
    <div th:replace="~{fragments/gardenerSidebar::gardenerSidebar}" class=""></div>
    <div th:replace="~{fragments/header::header}"></div>
    <main id="content-layout" class=" bg-gray-100 min-h-screen w-full">
        <div layout:fragment="content" class="font-body text-black pt-24 px-24"></div>
    </main>
    </div>   
</body>
</html>

 