<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flower Management Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/output.css}">
    <!-- <link th:rel="stylesheet" th:href=""> -->
    <!-- <script th:src="@{/js/bootstrap.min.js}"></script> -->
</head>
<body class="font-body">
    <!-- sidebar หลังกดปิด -->
    <div class=" bg-zinc-800 text-gray-100 flex h-screen fixed z-10" th:fragment="gardenerSidebar">
            <ul class="menu menu-lg flex-1 flex p-4 w-64">
                <div class="container py-10">
                    <!-- Sidebar content here -->
                    <li><a>gardener bar จ้า</a></li>
                    <li><a th:href="@{/flower}">flower</a></li>
                    <li><a class="btn bg-blue-300" th:href="@{/logout}">Log out</a></li>
                </div>
            </ul>
        </div>
    </div>
</body>
</html>