<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flower Management Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/output.css}">
</head>
<body class="font-body">
  <div class="navbar container bg-green-500 p-3 w-5/4 fixed right-0 font-body" th:fragment="header">
    <span class="ml-64">
        <div class="text-lg">© ระบบจัดการสวนดอกไม้แม่แหม่ม 2023</div>
    </span>
    <div class="ml-auto">
        <div class="flex">
            <span class="text-lg font">ยินดีต้อนรับ</span>
            <span sec:authentication="name" class="ml-5 font-semibold text-lg"></span>
        </div>
    </div>
    </div>
  </div>
</body>
</html>

