<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<head>
    <meta charset="UTF-8">
    <title>Flower Management Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/output.css}">
    <!-- <link th:rel="stylesheet" th:href=""> -->
    <!-- <script th:src="@{/js/bootstrap.min.js}"></script> -->
</head>
<body class="font-body">
    <!-- sidebar หลังกดปิด -->
    <div class=" bg-zinc-800 text-gray-100 flex h-screen fixed z-10 font-body" th:fragment="ownerSidebar">
            <ul class="menu menu-lg flex-1 flex my-8 w-64">
                <div class="mb-10">
                    <a th:href="@{/}"> 
                    <img th:src="'/image/logo.svg'" class="w-36 h-36 object-scale-down ml-12" ></img>
                    
                    <div class="flex-1">
                        <div class="text-center text-2xl mt-2" >Mham's FLower</div>
                    </div>
                    </a>
                </div>
                
                <div class="container py-2">
                    
                    <li><a class="items-center">
                        <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
							fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
							</path>
						</svg>
                        ยอดขาย
                        </a>
                    </li>
                   
                    <li><a th:href="@{'/' + ${role} + '/flower'}">
                        <svg class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
							fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
							<path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
						</svg>
                        ข้อมูลดอกไม้
                    </a></li>
                    <li><a th:href="@{/flower}">
                        <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
							fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z">
							</path>
							<path
								d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z">
							</path>
						</svg>
                        สต็อค
                    </a></li>
                    <li><a th:href="@{/flower}">
                        <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
							fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
								clip-rule="evenodd"></path>
						</svg>
                       จัดการพนักงาน
                    </a></li>
                    <li><a th:href="@{/logout} " class="mt-16">
                        <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
							fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd"
								d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z"
								clip-rule="evenodd"></path>
						</svg>
                        ออกจากระบบ
                    </a></li>
                   
                </div>
            </ul>
        </div>
    </div>
</body>
</html>