<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Flower Management Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/output.css}">
<!--     <script th:src="@{/js/bootstrap.min.js}"></script>-->
</head>
<body>
<h1 class="display-6">Bed ที่ปลูกแล้ว</h1>

<table  class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
    <tr class="table-dark">
        <th>เลขที่แปลง</th>
        <th>วันที่ปลูก</th>
        <th>จำนวนที่ปลูก</th>
        <th>จำนวนคงเหลือ</th>
        <th>ชื่อดอกไม้</th>
<!--        <th>วิธีปลูก</th>-->
<!--        <th>วิธีดูแล</th>-->
<!--        <th>ระยะเวลาของเมล็ด</th>-->
<!--        <th>ระยะเวลาของต้นอ่อน</th>-->
<!--        <th>ระยะเวลาของต้นกำลังโต</th>-->
<!--        <th>ระยะเวลาของต้นโตเต็มที่</th>-->
<!--        <th>ระยะเวลาของการเก็บเกี่ยว</th>-->
<!--        <th>รูปแบบการเก็บ</th>-->
        <th>ราคา</th>
        <th>สถานะของดอกไม้ในแปลง</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td th:text="${plantOrder.PID}"></td>
        <td th:text="${plantOrder.timePlant}"></td>
        <td th:text="${plantOrder.quantity}"></td>
        <td th:text="${plantOrder.total}"></td>
        <td th:text="${plantOrder.flower.FName}"></td>
<!--        <td th:text="${plantOrder.flower.how_to_plant}"></td>-->
<!--        <td th:text="${plantOrder.flower.how_to_take_care}"></td>-->
<!--        <td th:text="${plantOrder.flower.seedPeriod}"></td>-->
<!--        <td th:text="${plantOrder.flower.growingPeriod}"></td>-->
<!--        <td th:text="${plantOrder.flower.fullyGrownPeriod}"></td>-->
<!--        <td th:text="${plantOrder.flower.harvestPeriod}"></td>-->
<!--        <td th:text="$plantOrder.flower.how_to_harvest}"></td>-->
        <td style="text-align: right" th:text="${#numbers.formatDecimal(order.flower.price, 0, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${plantOrder.flowerStatus}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>