<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Flower Management Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/output.css}">
    <!-- <link th:rel="stylesheet" th:href=""> -->
    <script th:src="@{/js/tablePlant.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-3xl text-center font-bold mb-5">สวนดอกไม้</h1>
    <div class="flex justify-end ml-80">
        <a th:href="@{/{role}/orders}"class="btn btn-success text-lg" >ดูออเดอร์ที่ต้องปลูก</a>
    </div>    
    <div class="flex flex-col mt-4">
        <div class="grid card bg-gray-300 rounded-box place-items-center h-3/5">
            <div class="flex w-full">
                <div class="grid h-5/6 w-1/3 flex-grow card bg-base-300 rounded-box place-items-center">
                    <div class="flex my-4 max-w-full">
                        <span class=" mx-3">
                            <img src="/image/6-harvestPeriod.svg" class="w-28 h-28 object-cover" alt="Pot Image">
                            <div class="btn bg-sky-400 text-white font-bold rounded-lg text-center text-xl py-2 mt-3">
                                แปลง1
                            </div>
                        </span>
                        <span class=" mx-3">
                            <img src="/image/2-seedPeriod.svg" class="w-28 h-28 object-cover" alt="Pot Image">
                            <div class="btn bg-sky-400 text-white font-bold rounded-lg text-center text-xl py-2 mt-3">
                                แปลง1
                            </div>
                        </span>
                        <span class=" mx-3">
                            <img src="/image/3-sproutPeriod.svg" class="w-28 h-28 object-cover" alt="Pot Image">
                            <div class="bg-sky-400 text-white font-bold rounded-lg text-center text-xl py-2 mt-3">
                                แปลง1
                            </div>
                        </span>
                        <span class=" mx-3">
                            <img src="/image/4-growingPeriod.svg" class="w-28 h-28 object-cover" alt="Pot Image">
                            <div class="bg-sky-400 text-white font-bold rounded-lg text-center text-xl py-2 mt-3">
                                แปลง1
                            </div>
                        </span>
                        <span class=" mx-3">
                            <img src="/image/5-fullyGrownPeriod.svg" class="w-28 h-28 object-cover" alt="Pot Image">
                            <div class="bg-sky-400 text-white font-bold rounded-lg text-center text-xl py-2 mt-3">
                                แปลง1
                            </div>
                        </span>
                    </div>
                    <div class="flex my-4 max-w-full">
                        <span class=" mx-3">
                            <img src="/image/1-pot.svg" class="w-28 h-28 object-cover" alt="Pot Image">
                            <div class="bg-sky-400 text-white font-bold rounded-lg text-center text-xl py-2 mt-3">
                                แปลง1
                            </div>
                        </span>
                        <span class=" mx-3">
                            <img src="/image/2-seedPeriod.svg" class="w-28 h-28 object-cover" alt="Pot Image">
                            <div class="bg-sky-400 text-white font-bold rounded-lg text-center text-xl py-2 mt-3">
                                แปลง1
                            </div>
                        </span>
                        <span class=" mx-3">
                            <img src="/image/3-sproutPeriod.svg" class="w-28 h-28 object-cover" alt="Pot Image">
                            <div class="bg-sky-400 text-white font-bold rounded-lg text-center text-xl py-2 mt-3">
                                แปลง1
                            </div>
                        </span>
                        <span class=" mx-3">
                            <img src="/image/4-growingPeriod.svg" class="w-28 h-28 object-cover" alt="Pot Image">
                            <div class="bg-sky-400 text-white font-bold rounded-lg text-center text-xl py-2 mt-3">
                                แปลง1
                            </div>
                        </span>
                        <span class=" mx-3">
                            <img src="/image/5-fullyGrownPeriod.svg" class="w-28 h-28 object-cover" alt="Pot Image">
                            <div class="bg-sky-400 text-white font-bold rounded-lg text-center text-xl py-2 mt-3">
                                แปลง1
                            </div>
                        </span>
                    </div>
                    <div class="flex my-4 max-w-full">
                        <span class=" mx-3">
                            <img src="/image/6-harvestPeriod.svg" class="w-28 h-28 object-cover" alt="Pot Image">
                            <div class="bg-sky-400 text-white font-bold rounded-lg text-center text-xl py-2 mt-3">
                                แปลง1
                            </div>
                        </span>
                        <span class=" mx-3">
                            <img src="/image/2-seedPeriod.svg" class="w-28 h-28 object-cover" alt="Pot Image">
                            <div class="bg-sky-400 text-white font-bold rounded-lg text-center text-xl py-2 mt-3">
                                แปลง1
                            </div>
                        </span>
                        <span class=" mx-3">
                            <img src="/image/3-sproutPeriod.svg" class="w-28 h-28 object-cover" alt="Pot Image">
                            <div class="bg-sky-400 text-white font-bold rounded-lg text-center text-xl py-2 mt-3">
                                แปลง1
                            </div>
                        </span>
                        <span class=" mx-3">
                            <img src="/image/1-pot.svg" class="w-28 h-28 object-cover" alt="Pot Image">
                            <div class="bg-sky-400 text-white font-bold rounded-lg text-center text-xl py-2 mt-3">
                                แปลง1
                            </div>
                        </span>
                        <span class=" mx-3">
                            <img src="/image/5-fullyGrownPeriod.svg" class="w-28 h-28 object-cover" alt="Pot Image">
                            <div class="bg-sky-400 text-white font-bold rounded-lg text-center text-xl py-2 mt-3">
                                แปลง1
                            </div>
                        </span>
                    </div>
                    
                    
                <!-- ตารางดอกไม้ -->
                </div>
                <div class="divider divider-horizontal mx-8"></div>
                <div class="grid h-5/6 w-1/3 flex-grow card bg-gray-300 rounded-box place-items-center mt-4 mr-6">
                    <span class="join">
                        <button id="sub-button" class="btn text-lg"  onclick="showSubTable()">ย่อย</button>
                        <button id="overview-button" class="btn text-lg active" onclick="showOverviewTable()">ภาพรวม</button>
                    </span>
                    <div class="w-full flex justify-center">
                        <div class="max-h-80 overflow w-full">
                        <!-- ภาพรวม -->
                        <table id="overview-table" class="table-fixedbg-white divide-y divide-gray-300 
    overflow-y-auto mx-auto min-w-full min-h-full md:w-5/6 lg:w-2/3 text-sm break-words bg-white mb-4">
                        <thead class="bg-gray-900">
                            <tr class="text-white text-center">
                                <th class="font-semibold text-base uppercase px-6 py-4">เลขแปลงดอกไม้</th>
                                <th class="font-semibold text-base uppercase px-6 py-4">ชนิดดอกไม้</th>
                                <th class="font-semibold text-base uppercase px-6 py-4">Status</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 text-center px-6 py-4 text-base">
                            <tr th:each="plantOrder : ${plantOrders}" class="whitespace-normal">
                                <td th:text="${plantOrder.PID}" class="px-6 py-4 truncate whitespace-normal"></td>
                                <td th:text="${plantOrder.flowerStatus}" class="px-6 py-4 truncate whitespace-normal"></td>
                                <td>
                                    <span th:if="${plantOrder.flower != null}" th:text="${plantOrder.flower.FName}"></span>
                                    <span th:unless="${plantOrder.flower != null}">N/A</span>
                                </td>
                            </tr>
                            <tr class="whitespace-normal">
                                <td class="px-6 py-4 truncate whitespace-normal">เทส</td>
                                <td class="px-6 py-4 truncate whitespace-normal">เทส</td>
                                <td class="px-6 py-4 truncate whitespace-normal">เทส</td>
                            </tr>
                        </tbody>
                        </table>

                        <!-- ย่อย -->
                        <table id="sub-table" style="display: none;" class="table-fixedbg-white divide-y divide-gray-300 
    overflow-y-auto mx-auto min-w-full min-h-full md:w-5/6 lg:w-2/3 text-sm break-words bg-white mb-4">
                        <thead class="bg-gray-900">
                            <tr class="text-white text-center">
                                <th class="font-semibold text-base uppercase px-6 py-4">ชนิดดอกไม้</th>
                                <th class="font-semibold text-base uppercase px-6 py-4">จำนวนแปลงที่ปลูก</th>
                            </tr>
                            <tr class="whitespace-normal">
                                <td class="px-6 py-4 truncate whitespace-normal">เทส</td>
                                <td class="px-6 py-4 truncate whitespace-normal">เทส</td>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 text-center px-6 py-4 text-base">
                            <tr th:each="statistic : ${Statistics}" class="whitespace-normal">
                                <td th:text="${statistic.flower.FName}" class="px-6 py-4 truncate whitespace-normal">Flower Name</td>
                                <td th:text="${#lists.size(statistic.plantOrder)}" class="px-6 py-4 truncate whitespace-normal">Number of Gardens</td>
                            </tr>
                        </tbody>
                        </table>





                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- <div class="divider"></div> 
        <div class="grid card bg-base-300 rounded-box place-items-center">
            <h1>All Gardener Order</h1>
  <table  class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
      <tr class="table-dark">
          <th>วันที่สั่ง order</th>
          <th>ชื่อดอกไม้</th>
          <th>จำนวนดอกไม้ที่ต้องการ</th>
          <th>สถานะ</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="order : ${orders}">
          <td th:text="${order.date}"></td>
          <td th:text="${order.flower.FName}"></td>
          <td th:text="${order.quantity}"></td>
          <td th:text="${order.status}"></td>
      </tr>
      </tbody>
  </table> 

        </div>
      </div> -->










<div th:each="num : ${#numbers.sequence(1, 10)}">
    <div th:each="i : ${plantOrders}">
        <form th:action="${num == i.PID && i.flowerStatus != T(ku.cs.flowerManagement.common.FlowerStatus).DEAD} ? @{/beds/{PID}(PID=${num})} : @{/beds/order/{PID}(PID=${num})}">
            <input type="hidden" name="PID" th:value="${num}" />
                <button type="submit" th:text="'Button ' + ${num}"> BED </button>&lt;!&ndash;        
                <button type="submit" th:text="'Button ' + ${i.PID}"> BED </button>&ndash;&gt;
        </form>
    </div>
</div>


<div th:each="i : ${plantOrders}">
    <form th:action="${i.flowerStatus != T(ku.cs.flowerManagement.common.FlowerStatus).DEAD} ? @{/beds/{PID}(PID=${i.PID})} : @{/beds/order/{PID}(PID=${i.PID})}">
        <input type="hidden" name="PID" th:value="${i.PID}" />
        <button type="submit" th:text="'Button ' + ${i.PID}"> BED </button>
    </form>
</div>

<!-- 
<table>
    <thead>
    <tr>
        <th>Flower Name</th>
        <th>Number of Gardens</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="statistic : ${Statistics}">
        <td th:text="${statistic.flower.FName}">Flower Name</td>
        <td th:text="${#lists.size(statistic.plantOrder)}">Number of Gardens</td>
    </tr>
    </tbody>
</table>


<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>Garden Number</th>
        <th>Status</th>
        <th>Flower Name</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="plantOrder : ${plantOrders}">
        <td th:text="${plantOrder.PID}"></td>
        <td th:text="${plantOrder.flowerStatus}"></td>
        <td>
            <span th:if="${plantOrder.flower != null}" th:text="${plantOrder.flower.FName}"></span>
            <span th:unless="${plantOrder.flower != null}">N/A</span>
        </td>
    </tr>
    </tbody>
</table> -->


  
<!--=======-->
</div>
</body>
</html>