<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bed</title>
    <link th:rel="stylesheet" th:href="@{static}">
</head>
<body>

<h1>ALL BED </h1>

<div th:each="i : ${#numbers.sequence(1, 10)}">

    <form th:action="${plantOrder.status == DEAD} ? @{/beds/{PID}(PID=${i + 1})} : @{/beds/{PID}(PID=${i + 1})/order}">
        <input type="hidden" name="PID" th:value="${i}" />
        <button type="submit" th:text="'Button ' + ${i}"> BED </button>
    </form>
</div>


<table>
    <thead>
    <tr>
        <th>Flower Name</th>
        <th>Number of Gardens</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="statistic : ${Statistics}">
        <td th:text="${statistic.flower.FName}">Flower Name</td>
        <td th:text="${#lists.size(statistic.plantOrder)}">Number of Gardens</td>
    </tr>
    </tbody>
</table>


<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>Garden Number</th>
        <th>Status</th>
        <th>Flower Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="plantOrder : ${plantOrders}">
        <td th:text="${plantOrder.PID}"></td>
        <td th:text="${plantOrder.flowerStatus}"></td>
        <td>
            <span th:if="${plantOrder.flower != null}" th:text="${plantOrder.flower.FName}"></span>
            <span th:unless="${plantOrder.flower != null}">N/A</span>
        </td>
    </tr>
    </tbody>
</table>


  <h1>All Gardener Order</h1>
  <table  class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
      <tr class="table-dark">
          <th>วันที่สั่ง order</th>
          <th>ชื่อดอกไม้</th>
          <th>จำนวนดอกไม้ที่ต้องการ</th>
          <th>สถานะ</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="order : ${orders}">
          <td th:text="${order.date}"></td>
          <td th:text="${order.flower.FName}"></td>
          <td th:text="${order.quantity}"></td>
          <td th:text="${order.status}"></td>
      </tr>
      </tbody>
  </table>

<!--=======-->
<!--&gt;>>>>>> main-->
</body>
</html>