<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Flower Management Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/output.css}">

</head>
<body>
<div layout:fragment ="content">
    <h1 class="text-2xl text-center">ข้อมูลดอกไม้ในระบบ</h1>
    <div class="flex items-center justify-between mb-4">
        <div class="flex items-center">
            <h1 class="text-2xl">จำนวนดอกไม้ทั้งหมด</h1>
            <span class="text-2xl ml-10" th:text="${totalFlowers}"></span>
        </div>
        
        <div class="flex space-x-2 items-center">
            
            <a class="btn btn-primary" th:href="@{/flower/create}">เพิ่มข้อมูลดอกไม้</a>
        </div>
    </div>
    
    
    <table class="table-fixedbg-white divide-y divide-gray-300 
    overflow-y-auto mx-auto min-w-full min-h-full md:w-5/6 lg:w-2/3 text-lg break-words bg-white" id="flower-table">
        <thead class="bg-gray-900">
            <tr class="text-white text-center">
                <th class="font-semibold text-lg uppercase px-6 py-10"> รหัสดอกไม้</th>
                <th class="font-semibold text-lg uppercase px-6 py-7">ชื่อดอกไม้</th>
                <th class="font-semibold text-lg uppercase px-6 py-7 whitespace-normal">จำนวนเก็บเกี่ยว
                </th>
                <th class="font-semibold text-lg uppercase px-6 py-7">ระยะเวลาการปลูก</th>
                <th class="font-semibold text-lg uppercase px-6 py-7">ราคา</th>
                <th class="font-semibold text-lg uppercase px-6 py-7 "></th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 text-center px-6 py-8 text-xl">
            <tr th:each="flower : ${flowers}" class="whitespace-normal">
                <td th:text="${flower.FID}" class="px-6 py-4 truncate whitespace-normal"></td>
                <td th:text="${flower.FName}"class="px-6 py-4 truncate whitespace-normal"></td>
                <td th:text="${flower.how_to_harvest}" class="px-6 py-4 truncate whitespace-normal"></td>
                <td class="px-6 py-4 truncate whitespace-normal"></td>
                <td class="px-6 py-4 text-center truncate whitespace-normal">
                    <span th:text="${#numbers.formatDecimal(flower.price, 0, 'COMMA', 2, 'POINT')}" class="text-white bg-red-600 
                font-semibold rounded-full text-xl p-3"></span>
                </td>
                <td class="px-6 py-4 text-center font-extrabold" th:href="@{/flower/{id}(id=${flower.FID})}"> 
                    <a class="btn  bg-sky-400 text-xl text-gray-100">Detail</a> 
                </td>
        
            </tr>
            
        </tbody>
        
    </table>
    
    




        

</div>
</body>
</html>