<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Flower Management Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/output.css}">

</head>
<body>
<div layout:fragment ="content">
    <h1 class="text-3xl text-center font-bold">ข้อมูลดอกไม้ในระบบ</h1>
    <div class="flex items-center justify-between mb-4 mt-6">
        <div class="flex items-center">
            <h1 class="text-2xl">จำนวนดอกไม้ทั้งหมด</h1>
            <span class="text-2xl ml-10" th:text="${totalFlowers}"></span>
            <span class="text-2xl ml-10">ชนิด</span>
        </div>
        
        <div class="flex space-x-2 items-center">
            <button class="btn btn-success text-xl" onclick="my_modal_3.showModal()">เพิ่มข้อมูลดอกไม้</button>
            <dialog id="my_modal_3" class="modal fixed right-0">
                <div class="modal-box ml-60 h-3/4 w-4/5 mt-6">
                  <div class="flex justify-between items-center bg-green-500 text-white text-xl px-5 py-4 rounded-lg focus:ring 
                  focus:ring-gray-200 focus:outline-none">
                      <h3>เพิ่มข้อมูลดอกไม้</h3>
                  </div>
                  <form th:action="@{/flower}" method="POST">
                    <div class="mb-3">
                        <label for="inputName">Name</label>
                        <input id="inputName" type="input" class="form-control"
                               name="FName">
                    </div>
                
                    <div class="mb-3">
                        <label for="inputHow_to_plant">How to plant</label>
                        <input id="inputHow_to_plant" type="input" class="form-control"
                               name="how_to_plant">
                    </div>
                
                    <div class="mb-3">
                        <label for="inputHow_to_take_care">How to take care</label>
                        <input id="inputHow_to_take_care" type="input" class="form-control"
                               name="how_to_take_care">
                    </div>
                
                    <div class="mb-3">
                        <label for="inputseedPeriod">seed Period</label>
                        <input id="inputseedPeriod" type="input" class="form-control"
                               name="seedPeriod">
                    </div>
                
                    <div class="mb-3">
                        <label for="inputsproutPeriod">sproutPeriod</label>
                        <input id="inputsproutPeriod" type="input" class="form-control"
                               name="sproutPeriod">
                    </div>
                
                    <div class="mb-3">
                        <label for="inputgrowingPeriod">growingPeriod</label>
                        <input id="inputgrowingPeriod" type="input" class="form-control"
                               name="growingPeriod">
                    </div>
                
                    <div class="mb-3">
                        <label for="inputfullyGrownPeriod">fullyGrownPeriod</label>
                        <input id="inputfullyGrownPeriod" type="input" class="form-control"
                               name="fullyGrownPeriod">
                    </div>
                
                    <div class="mb-3">
                        <label for="inputharvestPeriod">harvestPeriod</label>
                        <input id="inputharvestPeriod" type="input" class="form-control"
                               name="harvestPeriod">
                    </div>
                
                    <div class="mb-3">
                        <label for="inputHow_to_harvest">How to harvest</label>
                        <input id="inputHow_to_harvest" type="input" class="form-control"
                               name="how_to_harvest">
                    </div>
                
                    <div class="mb-3">
                        <label for="inputPrice">Price</label>
                        <input id="inputPrice" type="input" class="form-control"
                               name="price">
                    </div>
                
                    <div class="mb-3">
                        <label for="inputQuantity">Quantity</label>
                        <input id="inputQuantity" type="input" class="form-control"
                               name="quantity">
                    </div>
                      <div class="flex justify-center mt-10">
                          <button id="submit-button" class="btn btn-success text-bold text-xl px-10" type="submit" >ยืนยัน</button>
                          <button class="btn btn-error ml-5 text-bold text-xl px-10" type="button" onclick="my_modal_3.close()">ยกเลิก</button> <!--ใช้tyoe button ไม่ให่ส่งข้อมูลไป-->
                      </div>
                  </form>
              </dialog>  
        </div>
    </div>
    <table class="table-fixedbg-white divide-y divide-gray-300 
    overflow-y-auto mx-auto min-w-full min-h-full md:w-5/6 lg:w-2/3 text-lg break-words bg-white" id="flower-table">
        <thead class="bg-gray-900">
            <tr class="text-white text-center">
                <th class="font-semibold text-lg uppercase px-6 py-8"> รหัสดอกไม้</th>
                <th class="font-semibold text-lg uppercase px-6 py-8">ชื่อดอกไม้</th>
                <th class="font-semibold text-lg uppercase px-6 py-8 whitespace-normal">จำนวนเก็บเกี่ยว
                </th>
                <th class="font-semibold text-lg uppercase px-6 py-8">ระยะเวลาการปลูก</th>
                <th class="font-semibold text-lg uppercase px-6 py-8">ราคา</th>
                <th class="font-semibold text-lg uppercase px-6 py-8"></th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 text-center px-6 py-8 text-xl">
            <tr th:each="flower : ${flowers}" class="whitespace-normal">
                <td th:text="${flower.FID}" class="px-6 py-4 truncate whitespace-normal"></td>
                <td th:text="${flower.FName}"class="px-6 py-4 truncate whitespace-normal"></td>
                <td th:text="${flower.how_to_harvest}" class="px-6 py-4 truncate whitespace-normal"></td>
                <td class="px-6 py-4 truncate whitespace-normal"></td>
                <td class="px-6 py-4 text-center truncate whitespace-normal">
                    <span th:text="${#numbers.formatDecimal(flower.price, 0, 'COMMA', 2, 'POINT')}" class="text-white bg-red-600 
                font-semibold rounded-full text-xl p-3"></span>
                </td>
                <td class="px-6 py-4 text-center font-extrabold" th:href="@{/flower/{id}(id=${flower.FID})}"> 
                    <a class="btn  bg-sky-400 text-xl text-gray-100">Detail</a> 
                </td>
        
            </tr>
            
        </tbody>
        
    </table>
    <div class="join mt-12 fixed bottom-12 ">
        <ul class="pagination flex space-x-2 items-center">
            <!-- Previous button -->
            <li th:class="${currentPage > 0} ? 'active' : 'disabled'" class="join-item">
                <a th:if="${currentPage > 0}" th:href="@{'/flower?page=' + ${currentPage - 1} }" class="btn">Previous</a>
                <span th:unless="${currentPage > 0}" class="btn disabled ">Previous</span>
            </li>
    
            <!-- Numbered buttons and ellipsis -->
            <li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}" th:class="${currentPage == pageNumber} ? 'active' : ''" class="join-item">
                <a th:if="${pageNumber == 0 or pageNumber == totalPages - 1 or (currentPage - pageNumber >= -2 and currentPage - pageNumber <= 2)}"
                   th:href="@{'/flower?page=' + ${pageNumber}}"
                   th:text="${pageNumber + 1}" class="btn"></a>
                <span th:unless="${pageNumber == 0 or pageNumber == totalPages - 1 or (currentPage - pageNumber >= -2 and currentPage - pageNumber <= 2)}" class="btn disabled">..</span>
            </li>
    
            <!-- Next button -->
            <li th:class="${currentPage < totalPages - 1} ? 'active' : 'disabled'" class="join-item">
                <a th:if="${currentPage < totalPages - 1}" th:href="@{'/flower?page=' + ${currentPage + 1} }" class="btn">Next</a>
                <span th:unless="${currentPage < totalPages - 1}" class="btn disabled">Next</span>
            </li>
        </ul>
    </div>
    
</div>
</body>
</html>