<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Flower Management Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/output.css}">
    <!-- <link th:rel="stylesheet" th:href=""> -->
    <!-- <script th:src="@{/js/bootstrap.min.js}"></script> -->
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-2xl text-center font-bold">ข้อมูลดอกไม้</h1>
        <div class="container bg-sky-300 mt-5 rounded-xl mb-20 shadow-lg p-5 text-lg">
        <form th:if="${edit != 0}" th:action="@{${current_url}}" th:object="${flower}" th:method="PUT">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="grid grid-cols-2 grid-rows-2 gap-10">   
                    <div class="mr-6 mt-3 mx-6">
                        <label for="inputName">ชื่อดอกไม้</label>
                        <input  type="text" class="form-control bg-white px-7 py-1 rounded-lg mt-3 "
                               name="FName" th:field="*{FName}" required>
                    </div>
                    <div class="mr-6 mt-3 mx-6">
                        <label for="inputseedPeriod">ช่วงเวลาเมล็ด (วัน)</label>
                        <input  type="number" class="form-control bg-white px-7 py-1 rounded-lg mt-3"
                               name="seedPeriod" min="1" th:field="*{seedPeriod}" required>
                    </div>
    
                    <div class="mr-6 mt-3 mx-6">
                        <label for="inputsproutPeriod">ช่วงเวลาต้นอ่อน (วัน)</label>
                        <input   type="number" class="form-control bg-white px-7 py-1 rounded-lg mt-3"
                               name="sproutPeriod" th:field="*{sproutPeriod}" required>
                    </div>
    
                    <div class="mr-6 mt-3 mx-6">
                        <label for="inputgrowingPeriod">ช่วงเวลากำลังโต (วัน)</label>
                        <input   type="number" class="form-control bg-white px-7 py-1 rounded-lg mt-3"
                               name="growingPeriod" min="1" th:field="*{growingPeriod}" required>
                    </div>
    
                    <div class="mr-6 mt-3 mx-6">
                        <label for="inputfullyGrownPeriod">ช่วงเวลาโตเต็มที่ (วัน)</label>
                        <input   type="number" class="form-control bg-white px-7 py-1 rounded-lg mt-3"
                               name="fullyGrownPeriod" min="1" th:field="*{fullyGrownPeriod}" required>
                    </div>
    
                    <div class="mr-6 mt-3 mx-6">
                        <label for="inputharvestPeriod">ช่วงเวลาพร้อมเก็บเกี่ยว (วัน)</label>
                        <input   type="number" class="form-control bg-white px-7 py-1 rounded-lg mt-3"
                               name="harvestPeriod" min="1" th:field="*{harvestPeriod}" required>
                    </div>
    
                    <div class="mr-6 mt-3 mx-6">
                        <label for="inputHow_to_harvest">จำนวนครั้งที่สามารถเก็บเกี่ยวได้</label>
                        <input   type="number" class="form-control bg-white px-7 py-1 rounded-lg mt-3"
                               name="how_to_harvest" min="1" th:field="*{how_to_harvest}" required>
                    </div>
    
                    <div class="mr-6 mt-3 mx-6">
                        <label for="inputPrice">ราคา</label>
                        <input   type="number" class="form-control bg-white px-7 py-1 rounded-lg mt-3"
                               name="price" th:field="*{price}" min="1" required>
                    </div>
                    <div>
                        <div class="mr-6 mt-3 mx-6">
                            <label for="inputHow_to_plant">วิธีการปลูก</label>
                            <textarea   type="text" class="form-control bg-white px-16 py-8 rounded-lg mt-3"
                               name="how_to_plant" th:field="*{how_to_plant}" required></textarea>
                        </div>
                        <div class="mr-6 mt-3 mx-6">
                            <label for="inputHow_to_take_care">วิธีการดูแล</label>
                            <textarea   type="text" class="form-control bg-white px-16 py-8 rounded-lg mt-3"
                               name="how_to_take_care" th:field="*{how_to_take_care}" required></textarea>
                        </div>
                    </div>
                    <div class="mr-6 mt-3 mx-6">
                        <label for="inputQuantity">จำนวนดอกไม้ต่อ 1 ต้น</label>
                        <input   type="number" class="form-control bg-white px-7 py-1 rounded-lg mt-3"
                               name="quantity" th:field="*{quantity}" min="1" required>
                    </div>
                   
                <div class="flex justify-between">
                    <button id="submit-button" type="submit" class="btn btn-success text-2xl px-12 py-2 ml-80">บันทึก</button>
                    <a id="canceled-button" type="submit" class="btn btn-error text-2xl px-12 py-2 ml-16" th:href="@{${current_url} + '?edit=0'}" >ยกเลิก</a>
                </div>
            </div>
        </form>
        <form th:unless="${edit}" th:object="${flower}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="grid grid-cols-2 grid-rows-2 gap-10">
                <div class="mr-6 mt-3 mx-6">
                    <label for="inputName">ชื่อดอกไม้</label>
                    <input disabled type="text" class="form-control bg-white px-7 py-1 rounded-lg mt-3 "
                           name="FName" th:field="*{FName}">
                </div>
                <div class="mr-6 mt-3 mx-6">
                    <label for="inputseedPeriod">ช่วงเวลาเมล็ด (วัน)</label>
                    <input disabled type="number" class="form-control bg-white px-7 py-1 rounded-lg mt-3"
                           name="seedPeriod" th:field="*{seedPeriod}">
                </div>

                <div class="mr-6 mt-3 mx-6">
                    <label for="inputsproutPeriod">ช่วงเวลาต้นอ่อน (วัน)</label>
                    <input disabled  type="number" class="form-control bg-white px-7 py-1 rounded-lg mt-3"
                           name="sproutPeriod" th:field="*{sproutPeriod}">
                </div>

                <div class="mr-6 mt-3 mx-6">
                    <label for="inputgrowingPeriod">ช่วงเวลากำลังโต (วัน)</label>
                    <input disabled  type="number" class="form-control bg-white px-7 py-1 rounded-lg mt-3"
                           name="growingPeriod" th:field="*{growingPeriod}">
                </div>

                <div class="mr-6 mt-3 mx-6">
                    <label for="inputfullyGrownPeriod">ช่วงเวลาโตเต็มที่ (วัน)</label>
                    <input disabled  type="number" class="form-control bg-white px-7 py-1 rounded-lg mt-3"
                           name="fullyGrownPeriod" th:field="*{fullyGrownPeriod}">
                </div>

                <div class="mr-6 mt-3 mx-6">
                    <label for="inputharvestPeriod">ช่วงเวลาพร้อมเก็บเกี่ยว (วัน)</label>
                    <input disabled  type="number" class="form-control bg-white px-7 py-1 rounded-lg mt-3"
                           name="harvestPeriod" th:field="*{harvestPeriod}">
                </div>

                <div class="mr-6 mt-3 mx-6">
                    <label for="inputHow_to_harvest">จำนวนครั้งที่สามารถเก็บเกี่ยวได้</label>
                    <input disabled  type="number" class="form-control bg-white px-7 py-1 rounded-lg mt-3"
                           name="how_to_harvest" th:field="*{how_to_harvest}">
                </div>

                <div class="mr-6 mt-3 mx-6">
                    <label for="inputPrice">ราคา</label>
                    <input disabled  type="number" class="form-control bg-white px-7 py-1 rounded-lg mt-3"
                           name="price" th:field="*{price}">
                </div>
                <div>
                    <div class="mr-6 mt-3 mx-6">
                        <label for="inputHow_to_plant">วิธีการปลูก</label>
                        <textarea disabled  type="text" class="form-control bg-white px-16 py-8 rounded-lg mt-3"
                           name="how_to_plant" th:field="*{how_to_plant}"></textarea>
                    </div>
                    <div class="mr-6 mt-3 mx-6">
                        <label for="inputHow_to_take_care">วิธีการดูแล</label>
                        <textarea disabled  type="text" class="form-control bg-white px-16 py-8 rounded-lg mt-3"
                           name="how_to_take_care" th:field="*{how_to_take_care}"></textarea>
                    </div>
                </div>
                <div class="mr-6 mt-3 mx-6">
                    <label for="inputQuantity">จำนวนดอกไม้ต่อ 1 ต้น</label>
                    <input disabled  type="number" class="form-control bg-white px-7 py-1 rounded-lg mt-3"
                           name="quantity" th:field="*{quantity}">
                </div>
               
            </div>
            <div class="flex justify-end mr-10">
                <a id="edit-button" type="button" class="btn btn-success text-2xl px-12 py-2" th:href="@{${current_url} + '?edit=1'}" 
                sec:authorize="isAuthenticated() and hasAuthority('OWNER')">แก้ไข</a>
            </div>
        </form>
    </div>
</div>
       
</body>
</html>