<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container w-50 p-3">
  <h1 class="display-6">Garden</h1>


  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>Garden Number</th>
      <th>Status</th>
      <th>Flower Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="garden : ${gardens}">
      <td th:text="${garden.gardenNO}"></td>
      <td th:text="${garden.status}"></td>
      <td>
        <span th:if="${garden.flower != null}" th:text="${garden.flower.FName}"></span>
        <span th:unless="${garden.flower != null}">N/A</span>
      </td>
    </tr>
    </tbody>
  </table>
  <a class="btn btn-primary" th:href="@{/gardener-home/add}">Garden</a>
</div>
</body>
</html>