
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Flower Management Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/output.css}">
    <!-- <link th:rel="stylesheet" th:href=""> -->
    <!-- <script th:src="@{/js/bootstrap.min.js}"></script> -->
</head>
<body>
    <div layout:fragment="content" class="flex flex-col items-center h-full justify-center">
      <h1 class="text-pink-500 text-5xl">อย่าลบหรือวางcss/js ทับทั้งโฟลเดอร์ T___T **UPDATE ดู README ไม่เห็น Sidebar ล็อกอินก่อน</h1>
      <h2 class="text-pink-500 text-2xl">set path ให้ /{role}/** บางหน้าแล้ว ยังไม่เสร็จ ROLE มี USER (SELLER GARDENER) 2อันหลังเราaddไว้เทส ในsignupService</h2>
      <h1>ปุ่มเทสcommentไว้ ui บางหน้าบัค ยังไม่เสร็จดี </h1>
      <p><span th:text="${greeting}"></span></p>

      <a class="btn btn-primary" th:href="@{/login}">Login ็ฎศ</a>
      <a class="btn btn-light" th:href="@{/signup}">Sign Up</a>
      <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
      <div sec:authorize="isAuthenticated()">
        <p>Role <b><span sec:authentication="authorities"></span></b></p>

    </div>

  </div>

<h1>รายการออเดอร์</h1>

  <p><span th:text="${greeting}"></span></p>
  <a class="btn btn-primary" th:href="@{/gardener-home}">Garden</a>

<!--  <div sec:authorize="isAuthenticated()">-->
<!--    <p>Khun <b><span sec:authentication="name"></span></b></p>-->
<!--    <a class="btn btn-primary" th:href="@{/logout}">Logout</a>-->

<!--    <a class="btn" th:href="@{/beds}">แปลงปลูกทั้งหมด</a>-->

<!--    <a class="btn" th:href="@{/flower}">All Flower</a>-->

<!--    <a class="btn" th:href="@{/flower/create}">Add Flower</a>-->

<!--    <a class="btn" th:href="@{/order}">All Order</a>-->

<!--&lt;!&ndash;    <a class="btn" th:href="@{/order}">Add Order</a>&ndash;&gt;-->

<!--    <a class="btn" th:href="@{/gardener-orders}">All gardener order</a>-->

<!--    <a class="btn" th:href="@{/gardener-orders/form}">add gardener order</a>-->

<!--  </div>-->

<!--  <div sec:authorize="isAnonymous()">-->
<!--    <a class="btn btn-primary" th:href="@{/login}">Login</a>-->
<!--    <a class="btn btn-light" th:href="@{/signup}">Sign Up</a>-->
<!--  </div>-->


<!-- <label for="order_id">หมายเลขออเดอร์:</label>
<select id="order_id" name="order_id">
  <option value="order1">OID0001</option>
  <option value="order2">OID0002</option>
</select>

<button id="confirmButton">ยืนยัน</button>

<div id="summary">
  <h2>สรุปรายการ</h2>
  <p>หมายเลขออเดอร์: <span id="orderNumber"></span></p>
  <p>ประเภทการสั่ง: <span id="orderType"></span></p>
  <p>ชนิดดอกไม้: <span id="flowerType"></span></p>
  <p>จำนวนดอกไม้: <span id="flowerCount"></span></p>
  <p>ราคาสุทธิ: <span id="totalPrice"></span></p>
</div> -->

<script>
</script>