<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Flower Management Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/output.css}">

</head>
<body>
<div layout:fragment ="content">
    <h1 class="text-3xl text-center font-bold mb-5">คิดเงิน</h1>
    <div class="flex items-center">
        <h1 class="text-xl ml-6 ">จำนวนออเดอร์ทั้งหมด</h1>
        <span class="text-xl ml-10" th:text="${totalOrders}"></span>
        <span class="text-xl ml-10">รายการ</span>
    </div>
    <div class="grid grid-cols-2 grid-rows-1 gap-40">
        <div class>
            <div class="min-w-max mx-auto">
                <div class="flex flex-col">
                  <div class=" col-span-7">
                    <div class="p-1.5 min-w-full inline-block align-middle">
                      <div class=" border-gray-200 rounded-xl overflow-hidden bg-white overflow-y-auto">
                          <table class="table-fixed  divide-y divide-gray-300 
                          overflow-y-auto mx-auto  min-h-full text-base break-words bg-white" id="flower-table">
                              <thead class="bg-gray-900">
                                  <tr class="text-white text-center">
                                      <th class="font-semibold text-base uppercase px-6 py-4">
                                          <div class="flex items-center">
                                          <span>NO.</span>
                                          <span class="ml-3">
                                          </span>
                                          </div>
                                      </th>
                                     
                                      <th class="font-semibold text-base uppercase px-6 py-4">ชื่อดอกไม้
                                      </th>
                                      <th class="font-semibold text-base  uppercase px-6 py-4">จำนวน</th>
                                      <th class="font-semibold text-base uppercase px-6 py-4">ราคา (บาท)</th>
                                      <th class="font-semibold text-base uppercase px-6 py-4">วิธีการสั่งซื้อ</th>
                                  </tr>
                              </thead>
                              <tbody class="divide-y divide-gray-200 text-center px-6 py-4 text-lg" id="invoiceTable">
                                  <tr th:each="invoice : ${invoices}" class="whitespace-normal overflow-y-auto">
                                      <td th:text="${invoice.OID}" class="px-6 py-4 truncate whitespace-normal"></td>
                                      <td th:text="${invoice.FName}"class="px-6 py-4 truncate whitespace-normal"></td>
                                      <td th:text="${invoice.orderQuantity}" class="px-6 py-4 truncate whitespace-normal"></td>
                                      <td class="px-6 py-4 text-center truncate whitespace-normal">
                                        <span th:text="${#numbers.formatDecimal(invoice.price, 0, 'COMMA', 2, 'POINT')}" class="text-white bg-sky-400 
                                    font-semibold rounded-2xl text-xl p-2.5"></span>
                                    </td>
                                    <td class="px-6 py-4 truncate whitespace-normal">
                                        <span th:if="${invoice.order_method == T(ku.cs.flowerManagement.common.OrderMethods).ORDER}">ส่ง</span>
                                        <span th:if="${invoice.order_method == T(ku.cs.flowerManagement.common.OrderMethods).RETAIL}">ปลีก</span>
                                    </td>    
                                  </tr>
                              </tbody>
                          
                          </table>    
                          
                      <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 shadow-lg">
                        <div>
                          <p class="text-sm text-gray-600 dark:text-gray-400">
                            <span class="font-semibold text-gray-800 dark:text-gray-200"></span>   <!--ไม่น่าจะทำ-->
                          </p>
                        </div>
                        <div class="join">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="bg-white rounded-lg shadow-lg">

            <form id="invoiceForm" th:action="@{/seller/invoiceConfirm}" method="POST">
                <div class="flex justify-between items-center bg-green-500 text-white text-xl px-5 py-4 rounded-lg focus:ring
                focus:ring-gray-200 focus:outline-none">
                    <h3>สรุปรายการออเดอร์</h3>
                </div>
                <div class="mt-6">
                    <label for="order_id" class="mb-3 mt-10 mx-6 text-base">เลือกหมายเลขออเดอร์:</label>
                    <select id="order_id" name="order_id" class="rounded-xl pr-9 py-2 shadow-lg text-gray-500 pl-7
                bg-gray-100" required>
                        <option th:each="option : ${options}" th:value="${option.getOID()}" th:text="${option.getOID()}" th:attr="data-fid=${option.getFID()}"></option>
                    </select>
                    <button type="submit" id="confirmButton" class="btn btn-success ml-2">สรุป</button>
                </div>
            </form>
            <form id="invoiceFormSubmit" th:action="@{/seller/invoiceCompleteButton}" method="POST" class="mb-3 mt-14 mx-6 text-base">
                <div id="summary" >
                    <h2 class="text-xl font-bold">สรุปรายการ</h2>
                    <div class="bg-orange-300 mt-4 p-4 rounded-xl">
                        <p class="my-1">หมายเลขออเดอร์ : <span id="orderNumber" th:text="${invoice.OID}" class="ml-10"></span></p>
                        <p class="my-1">ประเภทการสั่ง : 
                            <span th:if="${invoice.order_method == T(ku.cs.flowerManagement.common.OrderMethods).ORDER}">ส่ง</span>
                            <span th:if="${invoice.order_method == T(ku.cs.flowerManagement.common.OrderMethods).RETAIL}">ปลีก</span>
                        </p>
                        <p class="my-1">ชื่อดอกไม้ : <span id="flowerType" th:text="${invoice.FName}" class="ml-10"></span></p>
                        <p class="my-1">จำนวนดอกไม้ : <span id="quantity" th:text="${invoice.orderQuantity}" class="ml-10"></span></p>
                        <p class="my-1">จำนวนดอกไม้คงเหลือ : <span id="remain" th:text="${stock}" class="ml-10"></span></p>
                        <p class="my-1">สถานะของออเดอร์ : 
                            <span th:if="${invoice.status == T(ku.cs.flowerManagement.common.OrderStatus).PENDING}" class="ml-10">ดำเนินการ</span>
                        
                        </p>
                        <p class="my-1">ราคาสุทธิ: <span id="price" th:text="${#numbers.formatDecimal(invoice.price, 0, 'COMMA', 2, 'POINT')}" class="ml-10"></span>
                            <span>บาท</span></p>
                    </div>
                </div>

                <input type="hidden" name="OID" th:value="${invoice.OID}" />
                <input type="hidden" th:each="sid : ${stockList}" th:name="'SIDList'" th:value="${sid.SID}" />
                <input type="hidden" name="amount" th:value="${invoice.price}" />
                <input type="hidden" name="orderQuantity" th:value="${invoice.orderQuantity}" />
                <input type="hidden" name="FID" th:value="${invoice.FID}" />
                <button id="completeButton"  class="btn btn-success text-bold text-xl px-10 ml-36 mt-5" >ยืนยัน</button>
            </form>
        </div>
    </div>
    <script>
    document.getElementById("invoiceForm").addEventListener("submit", function (event) {
        event.preventDefault(); 
        let selectedOrderId = document.getElementById("order_id").value;
        let selectedOption = document.querySelector('option[value="' + selectedOrderId + '"]');
        let selectedFID = selectedOption.getAttribute("data-fid");
        let selectedOID = selectedOption.value;

        let fidInput = document.createElement("input");
        fidInput.type = "hidden";
        fidInput.name = "FID"; 
        fidInput.value = selectedFID;

        let oidInput = document.createElement("input");
        oidInput.type = "hidden";
        oidInput.name = "OID"; 
        oidInput.value = selectedOID;

        let form = document.getElementById("invoiceForm");
        form.appendChild(fidInput);
        form.appendChild(oidInput);
        form.submit();
    });

    let status = document.getElementById("status").textContent.trim(); 
   

    

    </script>
</div>    
</div>          
</div>
</div>
</div>

</body>
</html>




