<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Flower Management Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/output.css}">

</head>
<body>
<div layout:fragment ="content">
    <h1 class="text-3xl text-center font-bold">ออเดอร์</h1>
    <div class="flex items-center mb-3 mt-6">
        <h1 class="text-xl ml-2 ">จำนวนออเดอร์ทั้งหมด</h1>
        <span class="text-xl ml-2" th:text="${total}"></span>
        <span class="text-xl ml-2">รายการ</span>
        <div class="flex items-center ml-4 ">
            <form method="get" th:action="@{/seller/order}" class="flex items-center">
                <label for="sortOrder" class="text-base mr-2"></label>
                <select id="sortOrder" name="sort" class="form-control rounded-xl pr-5 py-2 shadow-lg text-gray-500 pl-5 bg-white border-gray-800">
                    <option value="PENDING">กำลังดำเนินการ</option>
                    <option value="COMPLETED">เสร็จสิ้น</option>
                    <option value="CANCELED">ยกเลิก</option>
                    <option value="">ทั้งหมด</option>
                </select>
                <button type="submit" class="btn btn-info ml-2">ตกลง</button>
            </form>
        </div>
    </div>
    <div class="grid grid-cols-2 grid-rows-1 gap-12">

        <div class="max-w-full mx-auto">
            <div class="flex flex-col">
                <div class="-m-1.5">
                    <div class="p-1.5 min-w-full inline-block align-middle">
                        <div class=" border-gray-200 rounded-xl  bg-white">
                            <table class="table-fixed  divide-y divide-gray-300
                      overflow-y-auto mx-auto min-w-full min-h-full md:w-5/6 lg:w-2/3 text-xl break-words bg-white" id="flower-table">
                                <thead class="bg-gray-900 ">
                                <tr class="text-white text-center">
                                    <th class="font-semibold text-base uppercase px-6 py-2">รหัสรายการ</th>
                                    <th class="font-semibold text-base uppercase px-6 py-2">จำนวนดอกไม้ที่สั่ง</th>
                                    <th class="font-semibold text-base uppercase px-6 py-2">ราคา</th>
                                    <th class="font-semibold text-base  uppercase px-6 py-2">วิธีการ</th>
                                    <th class="font-semibold text-base uppercase px-6 py-2">สถานะ</th>
                                </tr>
                                </thead>
                                <tbody class="divide-y divide-gray-200 text-center px-6 py-4 text-base" id="orderTable">
                                <tr th:each="order : ${orders}" class="whitespace-normal">
                                    <td th:text="${order.OID}" class="px-6 py-4 truncate whitespace-normal"></td>
                                    <td th:text="${order.orderQuantity}"class="px-6 py-4 truncate whitespace-normal"></td>
                                    <td class="px-6 py-4 text-center truncate whitespace-normal">
                                        <div th:text="${#numbers.formatDecimal(order.price, 0, 'COMMA', 2, 'POINT')}"></div>
                                    <td class="px-6 py-4 truncate whitespace-normal">
                                        <span th:if="${order.order_method == T(ku.cs.flowerManagement.common.OrderMethods).ORDER}">ส่ง</span>
                                        <span th:if="${order.order_method == T(ku.cs.flowerManagement.common.OrderMethods).RETAIL}">ปลีก</span>
                                    </td>
                                    <td class="px-6 py-4 truncate whitespace-normal">
                                        <span th:if="${order.getStatus() == T(ku.cs.flowerManagement.common.OrderStatus).COMPLETED}">เสร็จสิ้น</span>
                                        <span th:if="${order.getStatus() == T(ku.cs.flowerManagement.common.OrderStatus).PENDING}">ดำเนินการ</span>
                                        <span th:if="${order.getStatus() == T(ku.cs.flowerManagement.common.OrderStatus).CANCELED}">ยกเลิก</span>

                                    </td>
                                </tr>
                                </tbody>
    
                            </table>
    
                            <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 shadow-lg">
                                <div>
                                    <p class="text-sm text-gray-600 dark:text-gray-400">
                                        <span class="font-semibold text-gray-800 dark:text-gray-200"></span>   <!--ไม่น่าจะทำ-->
                                    </p>
                                </div>
                                <div class="join">
                                    <!-- <ul class="pagination flex space-x-2 items-center">
                                        <li th:class="${currentPage > 0}? 'active' : 'disabled'" class="join-item">
                                            <a th:if="${currentPage > 0}" th:href="@{'/seller/order?page=' + ${currentPage - 1}}" class="btn btn-secondary">Previous</a>
                                            <span th:unless="${currentPage > 0}" class="btn disabled btn-secondary">Previous</span>
                                        </li>
                                        <li th:class="${currentPage lt totalPages - 1}? 'active' : 'disabled'" class="join-item">
                                            <a th:if="${currentPage lt totalPages - 1}" th:href="@{'/seller/order?page=' + ${currentPage + 1}}" class="btn btn-secondary">Next</a>
                                            <span th:unless="${currentPage lt totalPages - 1}" class="btn disabled btn-secondary">Next</span>
                                        </li>
                                    </ul> -->
                                                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div className="grid grid-cols-1 grid-rows-2 gap-10 mb-3">
            <div class="bg-white rounded-lg shadow-lg mb-4">
                <div class="flex justify-between items-center bg-green-500 text-white text-lg  px-5 py-4 rounded-lg focus:ring
            focus:ring-gray-200 focus:outline-none font-bold">
                    <h3>เพิ่มออเดอร์</h3>
                </div>
                <form  th:action="@{/seller/order}" method="POST" th:object="${order}">
                    <div class="flex">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <div class="mt-2 mx-6 text-base">
                            <label for="inputType" class="my-5">เลือกชนิดดอกใม้</label>
                            <select class="form-control rounded-xl pr-8 py-2 my-5 shadow-lg
                             text-gray-500 pl-7 bg-gray-100" id="inputType" name="FID" th:field="*{FID}" required>
                                <option th:each="option : ${options}" th:value="${option.getFID()}" 
                                th:text="${option.getFName()}"></option>
                            </select>
                        </div>
                        <div class="ml-24 mt-2 mx-6 text-base">
                            <label for="inputOrderMethod" class="my-5">วิธีการสั่งซื้อ</label>
                            <select class="form-control rounded-xl pr-8 py-2 my-5 shadow-lg
                            text-gray-500 pl-7 bg-gray-100" id="inputOrderMethod" name="order_method" th:field="*{order_method}" required>
                                <option value="RETAIL" >ปลีก</option>
                                <option value="ORDER" >ออร์เดอร์</option>
                            </select>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="mb-2 mx-6 text-base">
                            <label for="inputAmount" class="my-5">จำนวนดอกไม้</label>
                            <input id="inputAmount" type="number" class="form-control rounded-xl pr-4 py-2 my-2 shadow-lg
                            text-gray-500 pl-4 bg-gray-100"
                                   name="amount" min="1" value="1" th:field="*{orderQuantity}" required>
                        </div>
                        <div class="flex justify-center mt-7">
                            <button id="submit-button" class="btn btn-success text-bold text-xl px-5" type="submit" >ยืนยัน</button>
                        </div>
                    </div>
                </form>  
                <div class="flex justify-between items-center bg-red-500 text-white text-lg px-5 py-4 rounded-lg focus:ring
            focus:ring-gray-200 focus:outline-none font-bold">
                    <h3>ยกเลิกออเดอร์</h3>
                </div>
                <form id="orderForm" th:action="@{/seller/order}" th:method="PUT">
                    <div class="flex">
                        <div class="mt-2 mx-6 text-base">
                            <label for="inputOID">เลือกหมายเลข Order</label>
                            <input id="inputOID" type="number" class="form-control rounded-xl pr-2 py-2 my-2 shadow-lg
                            text-gray-500 pl-2 bg-gray-100" name="OID" min="1" required/>
                        </div>
                        <button id="submit-update-button" class="btn btn-success text-bold text-lg px-5 mt-9 ml-5" type="submit" >ยืนยัน</button>
                    </div>
                    
                    <div class="mb-3 mx-6 mt-3" th:if="${canceledOrder.getOID()}">
                        <p class="font-semibold">สรุปรายการ</p>
                        <div>
                            <p class="mt-2">หมายเลข order: <span th:text="${canceledOrder.getOID()}"></span></p>
                            <p class="mt-2">ชนิดดอกใม้ : <span th:text="${canceledOrder.getFName()}"></span></p>
                            <p class="mt-2">จำนวนดอกใม้ <span th:text="${canceledOrder.getOrderQuantity()}"></span> ดอก </p>
                        </div>
                    </div>
                </form>
                <script>
                    document.getElementById('orderForm').addEventListener('submit', function(e) {
                        e.preventDefault();
                
                        const oidValue = document.getElementById('inputOID').value;
                        const url = "/seller/order/" + oidValue;
                
                        fetch(url, {
                            method: 'PUT',
                            body: new FormData(this)
                        }).then(response => {
                            if (response.ok) {
                                window.location.href = "/seller/order?id=" + oidValue;;  
                            } else {
                                
                            }
                        });
                    });
                </script>
            </div>
            
        </div>
    </div>
</div>

</body>
</html>