<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Flower Management Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/output.css}">

</head>
<body>
<div layout:fragment ="content">
    <h1 class="text-3xl text-center font-bold">รายชื่อพนักงาน</h1>
  <div class="flex items-center justify-between mb-4 mt-6">
        <div class="flex items-center">
            <h1 class="text-xl ml-10">จำนวนพนักงานทั้งหมด</h1>
            <span class="text-2xl ml-10" th:text="${total}"></span>  
            <span class="text-xl ml-10">คน</span>
        </div>
  </div>
  <div class="max-w-[85rem] sm:px-6 lg:px-8 lg:py-4 mx-auto">
    <div class="flex flex-col">
      <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
          <div class=" border-gray-200 rounded-xl overflow-hidden bg-white">
              <table class="table-fixed divide-y divide-gray-300 
              overflow-y-auto mx-auto min-w-full min-h-full md:w-5/6 lg:w-2/3 text-xl break-words bg-white" id="flower-table">
                  <thead class="bg-gray-900">
                      <tr class="text-white text-center">
                          <th class="font-semibold text-lg uppercase px-6 py-6">ชื่อ</th>
                          <th class="font-semibold text-lg  uppercase px-6 py-6">username</th>
                          <th class="font-semibold text-lg  uppercase px-6 py-6">password</th>
                          <th class="font-semibold text-lg  uppercase px-6 py-6">ตำแหน่ง</th>
                      </tr>
                  </thead>
                  <!-- <tbody class="divide-y divide-gray-200 text-center px-6 py-4 text-lg">
                    <tr th:each="allocateModel : ${allocateRequest.allocateModels}">
                      <td class="px-6 py-4 truncate whitespace-normal" th:text="${allocateModel.fName}"></td>
                      <td class="px-6 py-4 truncate whitespace-normal" th:text="${allocateModel.stockFlower}"></td>
                      <td class="px-6 py-4 truncate whitespace-normal" th:text="${allocateModel.total}"></td>
                    </tr>
                  </tbody> -->
              </table>   
          </div>  
          <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 shadow-lg">
            <div>
              <p class="text-sm text-gray-600 dark:text-gray-400">
                <span class="font-semibold text-gray-800 dark:text-gray-200"></span>   <!--ไม่น่าจะทำ-->
              </p>
            </div>
            <div class="join">
                <!-- <ul class="pagination flex space-x-2 items-center">
                    <li th:class="${currentPage > 0} ? 'active' : 'disabled'" class="join-item">
                        <a th:if="${currentPage > 0}" th:href="@{'/garden/orders?page=' + ${currentPage - 1} }" class="btn btn-secondary">Previous</a>
                        <span th:unless="${currentPage > 0}" class="btn disabled btn-secondary">Previous</span>
                    </li>
                    <li th:class="${currentPage < totalPages - 1} ? 'active' : 'disabled'" class="join-item">
                        <a th:if="${currentPage < totalPages - 1}" th:href="@{'/garden/orders?page=' + ${currentPage + 1} }" class="btn btn-secondary">Next</a>
                        <span th:unless="${currentPage < totalPages - 1}" class="btn disabled btn-secondary">Next</span>
                    </li>
                </ul> -->
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container w-50 p-3">
    <h1 class="display-5">Sign Up</h1>


    <form action="#" th:action="@{/signup}" method="POST">


        <div id="success-msg" class="alert alert-success"
             th:if="${signupSuccess}">
            Successfully signed up! Please <a th:href="@{/login}">login</a>.
        </div>
        <div id="error-msg" class="alert alert-danger"
             th:if="${signupError}">
            <span th:text="${signupError}"></span>
        </div>

        <div class="mb-3">
            <label for="inputName">Name</label>
            <input id="inputName" type="input" class="form-control"
                   name="name">
        </div>
        <div class="mb-3">
            <label for="inputUsername">Username</label>
            <input id="inputUsername" type="input" class="form-control"
                   name="username">
        </div>
        <div class="mb-3">
            <label for="inputPassword">Password</label>
            <input id="inputPassword" type="password" class="form-control"
                   name="password">
        </div>
        <button id="submit-button" type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    </div>
</div>

</body>
</html>

