<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Flower Management Web Application</title>
    <link th:rel="stylesheet" th:href="@{/css/output.css}">

</head>
<body>
<div layout:fragment ="content">
    
    <h1 class="text-3xl text-center font-bold">รายชื่อพนักงาน</h1>
  <div class="flex items-center justify-between mb-4 mt-6">
        <div class="flex items-center">
            <h1 class="text-xl ml-10">จำนวนพนักงานทั้งหมด</h1>
            <span class="text-2xl ml-10" th:text="${total}"></span>  
            <span class="text-xl ml-10">คน</span>
        </div>
        <div class="flex space-x-2 items-center">
          <button class="btn btn-success text-lg mr-8" onclick="my_modal_1.showModal()">เพิ่มพนักงาน</button>
          <dialog id="my_modal_1" class="modal fixed right-0">
            <div class="modal-box ml-60 h-5/6 mt-6  bg-gray-100">
              <div class="flex justify-between items-center bg-green-500 text-white text-xl px-5 py-4 rounded-lg focus:ring 
              focus:ring-gray-200 focus:outline-none">
                  <h3>เพิ่มพนักงาน</h3>
              </div>
              <form th:action="@{/owner/member}" method="POST">
                <input type="hidden"name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <div class="mt-3 mx-6">
                  <label for="inputName" class="text-lg">ชื่อพนักงาน</label>
                  <input id="inputName" type="input" class="form-control rounded-xl bg-gray-100 pr-8 py-2  shadow-lg  text-gray-500 pl-7 border-gray-600 border-2 "
                  name="name" required>
                </div>
                <div class="mt-3 mx-6">
                  <label for="inputUsername" class="text-lg">username</label>
                  <input id="inputUsername" type="input" class="form-control rounded-xl bg-gray-100 pr-8 py-2  shadow-lg  text-gray-500 pl-7 border-gray-600 border-2 "
                  name="username" required>
                </div>
                <div class="mt-3 mx-6">
                  <label for="inputPassword" class="text-lg">รหัสผ่าน</label>
                  <input id="inputPassword" type="password" class="form-control rounded-xl bg-gray-100 pr-8 py-2  shadow-lg  text-gray-500 pl-7 border-gray-600 border-2 "
                          name="password" required>
                </div>
                <div class="mt-3 mx-6">
                  <label for="inputRole" class="text-lg">เลือกหน้าที่</label>
                  <select class="form-control rounded-xl pr-9 py-2 shadow-lg text-gray-500 pl-7 
                      bg-gray-100  border-gray-600 border-2" id="inputRole" name="role" required>
                      <option value="SELLER" >ฝั่งขาย</option>
                      <option value="GARDENER" >ฝั่งสวน</option>
                  </select>
                </div>
                <div class="flex justify-center mt-5">
                  <button id="submit-button" class="btn btn-success text-bold text-xl px-10" type="submit" >ยืนยัน</button>
                  <button class="btn btn-error ml-5 text-bold text-xl px-10" type="button" onclick="my_modal_1.close()">ยกเลิก</button> 
                </div>
              </form>
            </div>
          </dialog>
      </div>
  </div>
  <div class="max-w-[85rem] sm:px-6 lg:px-8 lg:py-4 mx-auto">
    <div class="flex flex-col">
      <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
          <div class=" border-gray-200 rounded-xl overflow-hidden bg-white">
              <table class="table-fixed divide-y divide-gray-300 
              overflow-y-auto mx-auto min-w-full min-h-full md:w-5/6 lg:w-2/3 text-xl break-words bg-white" id="flower-table">
                  <thead class="bg-gray-900">
                      <tr class="text-white text-center">
                          <th class="font-semibold text-lg uppercase px-6 py-4">ชื่อ</th>
                          <th class="font-semibold text-lg  uppercase px-6 py-4">username</th>
                          <th class="font-semibold text-lg  uppercase px-6 py-4">ตำแหน่ง</th>
                          <th class="font-semibold text-lg  uppercase px-6 py-4"></th>
                         
                      </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-200 text-center px-6 py-4 text-lg">
                    <tr th:each="member : ${members}" th:unless="${member.role == 'OWNER'}"> 
                      <td class="px-6 py-4 truncate whitespace-normal" th:text="${member.name}"></td>
                      <td class="px-6 py-4 truncate whitespace-normal" th:text="${member.username}"></td>
                      <td class="px-6 py-4 truncate whitespace-normal">
                        <span th:if="${member.role == 'GARDENER'}">ฝั่งสวน</span>
                        <span th:if="${member.role == 'SELLER'}">ฝั่งขาย</span>
                       
                      </td>
<!--                      <td class="px-6 py-4 text-center truncate whitespace-normal">-->
<!--                        <button class="text-white bg-red-600 -->
<!--                    font-semibold rounded-2xl text-xl p-3 px-6">แก้ไข</button>-->
<!--                      </td>-->

                        <td class="px-6 py-4 text-center truncate whitespace-normal">
                            <form th:action="@{'/owner/member/update/' + ${member.id}}" method="GET">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <button type="submit" class="btn btn-success font-bold text-xl">แก้ไขข้อมูล</button>
                            </form>
                        </td>

                    </tr>
                  </tbody>
              </table>   
          </div>  
          <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 shadow-lg">
            <div>
              <p class="text-sm text-gray-600 dark:text-gray-400">
                <span class="font-semibold text-gray-800 dark:text-gray-200"></span>   <!--ไม่น่าจะทำ-->
              </p>
            </div>
            <div class="join">
                <ul class="pagination flex space-x-2 items-center">
                    <li th:class="${currentPage > 0} ? 'active' : 'disabled'" class="join-item">
                        <a th:if="${currentPage > 0}" th:href="@{'/owner/member?page=' + ${currentPage - 1} }" class="btn btn-secondary">Previous</a>
                        <span th:unless="${currentPage > 0}" class="btn disabled btn-secondary">Previous</span>
                    </li>
                    <li th:class="${currentPage < totalPages - 1} ? 'active' : 'disabled'" class="join-item">
                        <a th:if="${currentPage < totalPages - 1}" th:href="@{'/owner/member?page=' + ${currentPage + 1} }" class="btn btn-secondary">Next</a>
                        <span th:unless="${currentPage < totalPages - 1}" class="btn disabled btn-secondary">Next</span>
                    </li>
                </ul>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>

